{% extends 'home.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <h1>Detalles del Producto</h1>
    <p>Nombre: {{ product.name }}</p>
    <p>Precio: {{ product.price }}</p>
    <p>Descripción: {{ product.description }}</p>
    <p>Categoría: {{ product.category.name }}</p>
    
    {% if product.is_available %}
        <p>Stock: {{ product.stock }}</p>
        <p>Estado: Disponible</p>
    {% else %}
        <p>Stock: {{ product.stock }}</p>
        <p>Estado: Agotado</p>
        
    {% endif %}

    <button onclick="window.history.back()">Regresar</button>

    
    {% if product.image %}
        <img src="{{ product.image }}" alt="{{ product.name }}" style="max-width: 200px;">
    {% else %}
        <p>No hay imagen disponible.</p>    
    {% endif %}
        
        
{% endblock %}