body {
    background-color: #f4f4f9;
}

header {
    grid-area: a;
    background-color: #282bda;
}
menu {
    grid-area: b;
    background-color: #282bda;
}
main {
    grid-area: c;
    background-color: #282bda;
}
footer {
    grid-area: d;
    background-color: #282bda;
}
    
.grid-container {
    display: grid;
    grid-template-areas:
    "a a a a a a a a a"
    "b c c c c c c c c"
    "d d d d d d d d d";
    gap: 10px;
}