{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    <link rel="stylesheet" href="{% static 'css\product_list.css' %}">
    <link rel="stylesheet" href="{% static 'css\buy.css' %}">
    <link rel="stylesheet" href="{% static 'css\login.css' %}">
    <link rel="stylesheet" href="{% static 'css\profile.css' %}">


    <script src="{% static 'js\product_list.js' %}"></script>

    <title>Home</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>Bienvenido a MyPlatform</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Lista de Productos</a></li>
                <li><a href="{% url 'sell_product' %}">Vender Productos</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <a href="{% url 'profile' %}">{{ user.username }}</a>
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </header>
        <menu>
            <li>
                <a href="{% url 'available_products' %}">Comprar</a>
            </li>
            <li>
                <a href="">Vender</a>
            </li>
            <li>
                <a href="">Carrito</a>
            </li>
        </menu>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>&copy; 2024 MyPlatform</p>
        </footer>
    </div>
</body>
</html>
