{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <script src="{% static 'js\product_list.js' %}"></script>

    <title>Home</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>Bienvenido a MyPlatform</h1>
            <ul>
                <li><a href="{% url 'product_list' %}">Home</a></li>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'available_products' %}">Comprar Productos</a></li>
                <li><a href="{% url 'sell_product' %}">Vender Productos</a></li>
                    
                {% endif %}
                    
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <a href="{% url 'view_cart' %}"><i class="fa-solid fa-cart-flatbed""></i></a>
                        
                        <a class="login" href="{% url 'profile' %}">{{ user.username }}</a>
                        
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a class="login" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->
        </header>
        <!-- <menu>
            <li>
                <a href="{% url 'view_cart' %}">Carrito</a>
            </li>
        </menu> -->
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>&copy; 2024 MyPlatform</p>
        </footer>
    </div>
</body>
</html>
