{% extends 'home.html' %}

{% block content %}
    <h1>Product List</h1>

    <!-- Filtro por Categoría -->
    <div id="category-filter">
        <h3>Filtrar por Categoría</h3>
        <form method="get">
            {% for category in categories %}
                <button type="submit" name="category" value="{{ category.id }}">
                    {{ category.name }}
                </button>
            {% endfor %}
        </form>
    </div>

    <!-- Vista en Lista -->
    <div id="list-view" class="product-list view">
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Vendedor</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>${{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.seller.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
